<div class="container">
  <h1 class="namebrend">
    Tehnika
  </h1>
  <br>

  <div id="qara">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/tehnika1"> Смартфон Samsung Galaxy S21 128GB Pink</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/1/a/1ac374c051ac7e80c61bd874ca184088e3a87efa_232885_1a.jpg">
    </div>
    <button class="btn btn-danger" (click)="deleteB('qara')">Delete</button>
  </div>
  <br>

  <div id="tanba">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/tehnika2"> Смартфон Apple iPhone 12 Pro Max 128GB Blue</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/e/7/e7ecc7be4b425b7e239d50aeadd9628f0df44338_228638_1.jpg">
    </div>
    <button class="btn btn-danger" (click)="deleteB('tanba')">Delete</button>
  </div>
  <br>

  <div id="ksxbonah">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/tehnika3"> Смартфон Xiaomi Poco X3 128GB Shadow Gray</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/2/3/233f1e2ad19a366b5ab2dce5345cf8b2791d0e73_227603_1.jpg">
    </div>
    <button class="btn btn-danger" (click)="deleteB('ksxbonah')">Delete</button>
  </div>
  <br>

  <div id="alma">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/tehnika4"> Смартфон Huawei P40 Lite 128GB Black</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/0/b/0b41fae4a3db684de42ebaaf458b542d4c82e5c2_216857_1rt.jpg">
    </div>
    <button class="btn btn-danger" (click)="deleteB('alma')">Delete</button>
  </div>
  <br>

  <div id="kozashu">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/tehnika5"> Смартфон Apple iPhone 11 128GB Black</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/3/5/353535e48550691ecf412838d844026d3307ab12_228942_1.jpg">
    </div>
    <button class="btn btn-danger" (click)="deleteB('kozashu')">Delete</button>
    <br>
    <br>
    <br>
  </div>
  <br>
  <button class="btn btn-warning" routerLink="/main">Exit</button>

</div>
