<div class="container">
  <h1 class="namebrend">
    Basqa wear
  </h1>


  <div id="qara">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/odezhda1"> HOODIE “QARA”</a>
    </h2>
    <div class="mySlides">
    <img class="hoodphoto" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/132250225_116780060289760_3999942198609380267_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=e8e34GYDwR8AX8nVOsx&oh=6d7b49ee44d02c1d65839c99be201a4e&oe=6065F27F">
    </div>
    <button class="btn btn-danger" (click)="deleteB('qara')">Delete</button>
  </div>
  <br>

  <div id="tanba">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/odezhda2"> HOODIE “TANBA”</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/150382294_2848618428746436_3117816760455985402_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=uBysPdD5X10AX8JpqzM&oh=e7f46a5faacbd308da6771c2a80e8627&oe=6066BFCA">
    </div>
    <button class="btn btn-danger" (click)="deleteB('tanba')">Delete</button>
  </div>
  <br>

  <div id="ksxbonah">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/odezhda3"> HOODIE “BASQA X KS BONAH”</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/125411807_1813686885451319_8616168412712033585_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=w01jRlXm8AAAX9z6_oX&oh=ea73295066e0e9e9332924e0b1b15fa3&oe=6068D292">
    </div>
    <button class="btn btn-danger" (click)="deleteB('ksxbonah')">Delete</button>
  </div>
  <br>

  <div id="alma">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/odezhda4"> SWEATSHIRT “ALMA”</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/132234564_238296351011776_3123832174186065127_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=x9F0NDIx5J8AX_XqBup&oh=50827e7793101e954dc61d2853a348a3&oe=60667028">
    </div>
    <button class="btn btn-danger" (click)="deleteB('alma')">Delete</button>
  </div>
  <br>

  <div id="kozashu">
    <h2 class="hoodie">
      <a class="hoodlink" routerLink="/odezhda5"> HOODIE “KÖZ ASHU”</a>
    </h2>
    <div class="mySlides">
      <img class="hoodphoto" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/93166101_234977417703917_160879399158697011_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=NJdqozhfhPMAX_wVRoz&oh=44ec8e3724099d363f858ff99239049c&oe=60662035">
    </div>
    <button class="btn btn-danger" (click)="deleteB('kozashu')">Delete</button>
    <br>
    <br>
    <br>
  </div>
  <br>
  <button class="btn btn-warning" routerLink="/main">Exit</button>

</div>
