<div class="container">


  <div class="phbrend">
    <div class="op">

      <h1 class="od1name">
        HOODIE “BASQA X KS BONAH”
      </h1>
      <br>
      <br>
      <p class="od1op">
        SIZES: S, M, L, XL<br>
        OVERSIZE<br>
        <br>
        I. ALTYN ADAM / JER<br>
        II. KS BONAH / TAN<br>
        <br>
        BONUS: STICKERPACK + MASK<br>
        20 000KZT<br>
      </p>
      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/125411807_1813686885451319_8616168412712033585_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=w01jRlXm8AAAX9z6_oX&oh=ea73295066e0e9e9332924e0b1b15fa3&oe=6068D292">
    </div>


  </div>

  <div class="but">
    <button class="btn  btn-warning" routerLink="/odezhda">Exit</button>
  </div>

</div>
