<div class="container">


  <div class="phbrend">
    <div class="op">

      <h1 class="od1name">
        HOODIE “KÖZ ASHU”
      </h1>
      <br>
      <br>
      <p class="od1op">
        OVERSIZE<br>
        REFLECTIVE LOGO<br>
        <br>
        SIZES: S; M; L; XL<br>
        UNISEX<br>
        <br>
        BONUS: STICKERPACK<br>
        20 000KZT<br>
        <br>
        в переводе с каз. языка “открыть глаза”. проснись. раскрой свой потенциал. будь здесь и сейчас, в этом моменте. наблюдай и действуй. открой свой взор миру и происходящему.
      </p>
      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/93166101_234977417703917_160879399158697011_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=NJdqozhfhPMAX_wVRoz&oh=44ec8e3724099d363f858ff99239049c&oe=60662035">
    </div>


  </div>

  <br>
  <div class="but">
    <button class="btn  btn-warning" routerLink="/odezhda">Exit</button>
  </div>

</div>
