<div class="container">


  <div class="phbrend">
    <div class="op">

    <h1 class="od1name">
      HOODIE “QARA”
    </h1>
    <br>
    <br>
    <p class="od1op">
     OVERSIZE<br>
     REFLECTIVE LOGO<br>
     <br>
     SIZES: S; M; L; XL<br>
     UNISEX<br>
     <br>
     BONUS: STICKERPACK<br>
     20 000KZT<br>
    </p>

      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/132250225_116780060289760_3999942198609380267_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=e8e34GYDwR8AX8nVOsx&oh=6d7b49ee44d02c1d65839c99be201a4e&oe=6065F27F">
    </div>


  </div>

  <div class="but">
    <button class="btn  btn-warning" routerLink="/odezhda">Exit</button>
  </div>

</div>
