<div class="container">


  <div class="phbrend">
    <div class="op">

      <h1 class="od1name">
        HOODIE “TANBA”
      </h1>
      <br>
      <br>
      <p class="od1op">
        SIZES: S, M, L, XL<br>
        OVERSIZE<br>
        REFLECTIVE LOGO<br>
        <br>
        I. QARA / BLACK<br>
        II. JER / BROWN<br>
        <br>
        BONUS: STICKERPACK<br>
        20 000 KZT<br>
        3 600 RUB<br>
      </p>
      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/150382294_2848618428746436_3117816760455985402_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=uBysPdD5X10AX8JpqzM&oh=e7f46a5faacbd308da6771c2a80e8627&oe=6066BFCA">
    </div>


  </div>

  <div class="but">
    <button class="btn  btn-warning" routerLink="/odezhda">Exit</button>
  </div>

</div>
