<div class="container">


  <div class="phbrend">
    <div class="op">

      <h1 class="od1name">
        SWEATSHIRT “ALMA”
      </h1>
      <br>
      <br>
      <p class="od1op">
        OVERSIZE<br>
        <br>
        SIZES: S; M; L; XL<br>
        UNISEX<br>
        <br>
        BONUS: STICKERPACK<br>
        16 000KZT<br>
      </p>
      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://instagram.fakx3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/132234564_238296351011776_3123832174186065127_n.jpg?tp=1&_nc_ht=instagram.fakx3-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=x9F0NDIx5J8AX_XqBup&oh=50827e7793101e954dc61d2853a348a3&oe=60667028">
    </div>


  </div>

  <div class="but">
    <button class="btn  btn-warning" routerLink="/odezhda">Exit</button>
  </div>

</div>
