<div class="pos">
<img class="fon" src="https://www.audi.com/content/dam/gbp2/experience-audi/mobility-and-trends/e-mobility/2021/norway-as-a-role-model/1920x600-desktop-e-mobility-norway-A190788-stage.jpg?imwidth=1920&imdensity=1">
</div>
<div class="pos">
  <img class="fon" src="https://www.bmw.com.bn/content/dam/bmw/common/home/teaser/bmw-5-series-sedan-hometeaser-sp-xxl.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1590492401436.jpg">
</div>
<div class="pos">
  <img class="fon" src="https://www.mercedes-benz.com/en/vehicles/passenger-cars/c-class/c-class/_jcr_content/image/MQ6-8-image-20210223134135/00-mercedes-benz-c-class-saloon-estate-2021-w206-2560x1440.jpeg">
</div>
