<div class="container">


  <div class="phbrend">
    <div class="op">

      <h1 class="od1name">
        Смартфон Samsung Galaxy S21 128GB Pink
      </h1>
      <br>
      <br>
      <p class="od1op">
        Цены: 409 990 ₸ <br> <br>
        Диагональ дисплея, дюйм: 6.2 <br>
        Разрешение дисплея: 1080x2400 <br>
        Операционная система: Android 11 <br>
        Объем оперативной памяти: 8 <br>
        Объём встроенной памяти: 128 <br>
        Количество SIM-карт: 2 <br>
        Ёмкость аккумулятора, mAh: 4000 <br>
        Модельный год: 2021 <br>
      </p>

      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/1/a/1ac374c051ac7e80c61bd874ca184088e3a87efa_232885_1a.jpg">
    </div>


  </div>
  <br>

  <div class="but">
    <button class="btn  btn-warning" routerLink="/tehnika">Exit</button>
  </div>
  <br>
</div>
