<div class="container">


  <div class="phbrend">
    <div class="op">

      <h1 class="od1name">
        Смартфон Xiaomi Poco X3 128GB Shadow Gray
      </h1>
      <br>
      <br>
      <p class="od1op">
        Цены: 129 990 ₸ <br> <br>
        Диагональ дисплея, дюйм: 6.67 <br>
        Разрешение дисплея: 1080x2400 <br>
        Операционная система: Android 10.0 <br>
        Объем оперативной памяти: 6 <br>
        Объём встроенной памяти: 128 <br>
        Количество SIM-карт: 2 <br>
        Ёмкость аккумулятора, mAh: 5160 <br>
        Модельный год: 2020 <br>
      </p>

      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/2/3/233f1e2ad19a366b5ab2dce5345cf8b2791d0e73_227603_1.jpg">
    </div>


  </div>
  <br>

  <div class="but">
    <button class="btn  btn-warning" routerLink="/tehnika">Exit</button>
  </div>
  <br>
</div>
