<div class="container">


  <div class="phbrend">
    <div class="op">

      <h1 class="od1name">
        Смартфон Apple iPhone 12 Pro Max 128GB Blue
      </h1>
      <br>
      <br>
      <p class="od1op">
        Цены: 649 990 ₸ <br> <br>
        Диагональ дисплея, дюйм: 6.7 <br>
        Разрешение дисплея: 2778x1284 <br>
        Операционная система: iOS 14 <br>
        Объем оперативной памяти: 6 <br>
        Объём встроенной памяти: 128 <br>
        Количество SIM-карт: 1 <br>
        Модельный год: 2020 <br>
      </p>

      <button class="btn btn-danger" (click)="likeCnt()">Like <h6>{{cnt}}</h6></button>
    </div>

    <div class="abc">
      <img class="ph" src="https://www.technodom.kz/media/catalog/product/cache/1366e688ed42c99cd6439df4031862c6/e/7/e7ecc7be4b425b7e239d50aeadd9628f0df44338_228638_1.jpg">
    </div>


  </div>
  <br>

  <div class="but">
    <button class="btn  btn-warning" routerLink="/tehnika">Exit</button>
  </div>
  <br>
</div>
